@use "../../../assets/scss/abstracts" as *;

.sidebar-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
  @include mqMax("md") {
      grid-template-columns: 1fr;

  }
}

